<!-- <p>footer works!</p> -->

<!-- library for icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
    <div class="container" style="color: rgb(243, 248, 250); text-align: center" >
        All Rights Reserved to Amazon.com@2024, @Copy-Right?, To@Admin:Kamal!!! Visit Us On Socials Networks:
        <a class="btn btn-success m-2" href="https://facebook.com"><i class="fab fa-facebook-f" aria-placeholder="FaceBook"></i></a>
        <a class="btn btn-success m-2" href="https://twitter.com"><i class="fab fa-twitter" aria-placeholder="Twitter"></i></a>
        <a class="btn btn-success m-2" href="https://instagram.com"><i class="fab fa-instagram" aria-placeholder="Instagram"></i></a>
    </div>
</footer>
