<!-- <p>footer works!</p> -->

<!-- library for icon -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<footer class="footer">
    <div class="container" style="color: rgb(243, 248, 250); text-align: center" >
        All Rights Reserved to Amazon.com@2024, @Copy-Right?, To@Admin:Kamal!!! Visit Us On Socials Networks:
        <!-- Social media links -->
        <a href="https://www.facebook.com" class="social-link"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com" class="social-link"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com" class="social-link"><i class="fa fa-instagram"></i></a>
    </div>
</footer>
