

body {
    background-color: #f58484; /* Specify your desired background color */
  }
  


  //Footer colors
  .footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(103, 219, 92);
    display: flex;
    justify-content: center;
    align-items: center;
  }