


<br>
<br>
<!-- userName -->


<!-- background-color for admin login area only -->
<body style=" background-color:rgba(161, 222, 247, 0.795); margin-top: 25px;">

<br>
<div>
  <label appearance="outline" for ="userName" ><span style="color:red; margin: 10px;">*</span><b>UserName:-</b></label>
  <input style="margin-bottom: 30px; background-color: aquamarine; border: 2px solid rgb(163, 5, 92)" type="text"  [(ngModel)]="userName"  placeholder="Enter the valid userName???"/>
  <!-- <div *ngIf="adminLoginForm.get('userName')?.errors?.['required'] && adminLoginForm.get('userName')?.touched" class="err">
    Please enter valid password!!
    <div *ngIf="adminLoginForm.get('userName')?.errors?.['minlength'] && adminLoginForm.get('userName')?.touched" class="err">
      Password should contain minimum six characters!!
  </div> -->
</div>
<br>

<!-- password -->
<div>
  <label for="password"><span style="color:red; margin: 10px;">*</span><b>Password:- </b></label>
  <input style="margin-bottom: 30px; background-color: aquamarine; border: 2px solid rgb(163, 5, 92)" type="password"class="form-controll" [(ngModel)]="password" placeholder="Enter the valid Password???"/>
  <!-- <div *ngIf="adminLoginForm.get('password')?.errors?.['required'] && adminLoginForm.get('password')?.touched" class="err">
    Please enter valid password!!
    <div *ngIf="adminLoginForm.get('password')?.errors?.['minlength'] && adminLoginForm.get('password')?.touched" class="err">
      Password should contain minimum six characters!!
  </div>  
  </div> -->
</div>

<br>
<p style="color: crimson;">=========================================</p>
<button class="btn btn-success m-2" (click)="adminLogin()">Login</button>
<div *ngIf="loginError" class="error-msg">Invalid username or password</div>
<button class="btn btn-success m-2" (click)="navigateWellcome()">Sign Out</button>

<!-- need to routerlink with the / Ex./wellcome -->
<a class="btn btn-success m-2" routerLink="/wellcome">Go-To-Home</a>
<button class="btn btn-success m-2" (click)="navigate()">Employee_List</button>


