



<!--Create and UI design--------------------------------------------------->
<br>
<br>
<br>
<h1 style="color: rgb(22, 204, 143); text-shadow: none; text-align: center;">Wellcome!!!</h1>
<h2 style="color: rgba(10, 116, 116, 0.63); text-align: center;">www.amazon.com</h2>


<style>
body {
  background-color: rgb(230, 173, 173);
}
</style>


<!-- Data -->
<!-- <p>{{data}}</p>
<p>Getting alert from the parent : {{alert}}</p>

<div > 
    <button class="text-center mt-3 mb-3" (click)="sendAlert()">Getting alert to the parent!!!</button>
</div> -->

<footer style="height: 8px; margin-bottom: 0px; background-color: rgb(250, 72, 155)"><footer>
